<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="33000">
        <setting id="quality" type="select" label="33001"
            values="Manual|Ask-me|Best|High|Medium+|Medium|Low|Lower|Lowest" default="Best" />
        <setting id="cleanup" type="action" label="33002"
            action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/cleanup/)"
            option="close" />
        <setting label="33003" type="action" id="pvrsetup"
            action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/pvrsetup/)"
            option="close" />
        <setting id="m3ugen" type="bool" label="33004" default="false" />
        <setting id="channelsrc" type="bool" label="33005" default="false" />
        <setting id="usempd" type="bool" label="33006" default="false" />
        <setting id="mpdnotice" type="bool" label="33007" default="true" />
        <setting id="epgsource" type="text" label="33008"
            default="https://tobalan.github.io/epg.xml.gz" />
        <setting id="applyAllSettings1" type="action" label="33009"
            action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/applyall/)"
            option="close" />
    </category>
    <category label="33010">
        <setting id="Entertainment" type="bool" label="33011" default="true" />
        <setting id="Lifestyle" type="bool" label="33012" default="true" />
        <setting id="Infotainment" type="bool" label="33013" default="true" />
        <setting id="Devotional" type="bool" label="33014" default="true" />
        <setting id="Jio Darshan" type="bool" label="33015" default="true" />
        <setting id="News" type="bool" label="33016" default="true" />
        <setting id="Business News" type="bool" label="33017" default="true" />
        <setting id="Movies" type="bool" label="33018" default="true" />
        <setting id="Music" type="bool" label="33019" default="true" />
        <setting id="Educational" type="bool" label="33020" default="true" />
        <setting id="Kids" type="bool" label="33021" default="true" />
        <setting id="Shopping" type="bool" label="33022" default="true" />
        <setting id="Sports" type="bool" label="33023" default="true" />
        <setting id="applyAllSettings3" type="action" label="33024"
            action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/applyall/)"
            option="close" />
    </category>
    <category label="33025">
        <setting id="Hindi" type="bool" label="33026" default="true" />
        <setting id="English" type="bool" label="33027" default="true" />
        <setting id="Marathi" type="bool" label="33028" default="true" />
        <setting id="Telugu" type="bool" label="33029" default="true" />
        <setting id="Kannada" type="bool" label="33030" default="true" />
        <setting id="Tamil" type="bool" label="33031" default="true" />
        <setting id="Punjabi" type="bool" label="33032" default="true" />
        <setting id="Gujarati" type="bool" label="33033" default="true" />
        <setting id="Bengali" type="bool" label="33034" default="true" />
        <setting id="Bhojpuri" type="bool" label="33035" default="true" />
        <setting id="Malayalam" type="bool" label="33036" default="true" />
        <setting id="Odia" type="bool" label="33037" default="true" />
        <setting id="Assamese" type="bool" label="33038" default="true" />
        <setting id="Urdu" type="bool" label="33039" default="true" />
        <setting id="Nepali" type="bool" label="33040" default="true" />
        <setting id="Extra" type="bool" label="33041" default="true" />
        <setting id="applyAllSettings2" type="action" label="33042"
            action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/applyall/)"
            option="close" />
    </category>
    <category label="33043">
        <setting id="login" type="action" label="33044"
            action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/login/)" option="close" />
        <setting id="logout" type="action" label="33045"
            action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/logout/)"
            option="close" />
        <setting id="setMobile" type="action" label="33046"
            action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/setmobile/)"
            option="close" />
        <setting id="mobile" type="text" label="33047" />
        <setting id="applyAllSettings0" type="action" label="33009"
            action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/applyall/)"
            option="close" />
    </category>
</settings>
